
/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Lexend Deca', sans-serif; */
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
}
.image{
    margin: 1rem;
}
h1{
    color: hsl(0, 0%, 95%);
}

p{
   color:hsla(0, 0%, 100%, 0.75);
   font-family: "Lexend";
   font-size: 20px;
}

.col{
    padding: 2rem;
}
.col-1{
    background-color: hsl(31, 77%, 52%);
}

.col-2{
    background-color: hsl(184, 100%, 22%);
}

.col-3{
    background-color: hsl(179, 100%, 13%);
}



.some__text{
    padding: 2rem 0;
    width: 80%;
}

.btn{
    display: block;
    margin-top: 1rem;
    background-color: #fff;
    border: none;
    padding: .7rem 1.5rem;
    border-radius: 100px;
}

.btn:focus{
    outline: none;
}
/* 1056px */
@media (min-width:700px) {
    .flex{
        display: flex;
        margin: 5rem auto 0 auto;
        /* border: 2px solid green; */
        justify-content: center;
        max-width: 1000px;
    }
    .col{
        width: 35%;
        /* margin: 0 auto; */
    }
    .col-1{
        border-radius: 3% 0 0 3%;
    }
    .col-3{
        border-radius: 0 3% 3% 0;
    }
    
    .some__text{
        margin-bottom: 5rem;
        
    }
}



















